.booking-update-form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    transform: translateY(-20px);
}

.booking-change {
    font-size: 24px;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    padding-left: 0;
}

.shop__img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.form-group {
    margin: 0 auto;
    margin-bottom: 3px;
    display: flex;
    gap: 3px;
}

.form-group img {
    margin-right: 15px;
}

.form-group label {
    flex: 0 0 30%;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.form-group span{
    display: inline-block;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.form-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.btn-booking {
    width: 100%;
    padding: 10px;
    background-color: rgb(63, 90, 242);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
}

.btn-booking:hover {
    opacity: 0.7;
}

.btn-back {
    width: 100%;
    padding: 10px;
    background-color: rgb(200, 200, 200);
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

.btn-back:hover {
    opacity: 0.7;
}