.hidden {
    display: none;
}

.review-content {
    padding: 20px 20px 70px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.review-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.shop-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
    white-space: nowrap;
    padding-right: 10px; 
    width: 100px; 
}

.form-group p {
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}

input[type="text"],
textarea,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #407bf3;
    outline: none;
}

#rating {
    font-size: 24px;
    display: flex;
    margin-left: 25px;
}

.star {
    cursor: pointer;
    margin-right: 5px;
    color: lightgray;
    transition: color 0.2s;
}

.star:hover {
    color: gold;
}

p {
    font-size: 16px;
}

.button-group {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-review, .btn-cancel, .btn-secondary {
    background-color: rgb(63, 90, 242);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-review:hover {
    background-color: rgb(53, 80, 232);
}

.btn-cancel, .btn-secondary {
    background-color: #ccc;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #b0b0b0;
}

.review__rating {
    font-size: 24px;
    display: flex;
    margin-left: 25px;
}

.confirm-star {
    margin-right: 5px;
    color: gold;
    transition: color 0.2s;
}

.header__left{
    display: flex;
    justify-content: space-between;
}

.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0 auto;
}

.drawer__hidden {
    display: none;
}

.drawer__open {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(73, 99, 246);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    padding: 0 5px;
}

.drawer__open:hover {
    opacity: 0.8;
}

.drawer__open span,
.drawer__open span:before,
.drawer__open span:after {
    content: "";
    display: block;
    height: 1px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    transition: 0.2s;
    position: relative;
}

.drawer__open span:before {
    bottom: 6px;
    width: 10px;
}

.drawer__open span:after {
    top: 6px;
    width: 10px;
}

.header__logo {
    font-size: 32px;
    color: rgb(63, 90, 242);
    font-weight: bold;
    max-width: 100%;
    height: auto;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}


@media (max-width: 768px) {
    .review-content {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .shop-info {
        padding: 10px 0;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }
    
    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    
    #rating {
        display: flex;
    }
    
    .star {
        cursor: pointer;
        font-size: 24px;
        color: gold;
    }

    .button-group {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
    }
    
    .button-review {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
    }
}