.review-content {
    padding: 20px 20px 70px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.review-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.shop-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    overflow: hidden;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
    white-space: nowrap;
    padding-right: 10px; 
}

.form-group p {
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="text"],
textarea,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #407bf3;
    outline: none;
}

#rating {
    font-size: 24px;
    display: flex;
    margin-left: 25px;
}

.star {
    cursor: pointer;
    margin-right: 5px;
    color: lightgray;
    transition: color 0.2s;
}

.star:hover {
    color: gold;
}

p {
    font-size: 16px;
}

.button-group {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-review, .btn-cancel {
    background-color: rgb(63, 90, 242);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-review:hover {
    background-color: rgb(53, 80, 232);
}

.btn-cancel {
    background-color: #ccc;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #b0b0b0;
}

.review__rating {
    font-size: 24px;
    display: flex;
    margin-left: 25px;
}
    
.confirm-star {
    margin-right: 5px;
    color: gold;
    transition: color 0.2s;
}