.container {
    padding: 20px 20px 70px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 500px;
    height: auto;
    margin: 50px auto;
    position: relative;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}

.image_upload-link {
    display: block;
    margin-top: 10px;
}

.image_upload-link a {
    display: inline-block;
    color: #007bff;
    text-decoration: underline;
    margin-top: 5px;
}

.image_upload-link a:hover {
    text-decoration: none;
    color: #0056b3;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
    white-space: nowrap;
    padding-right: 10px;
    width: 100px;
}

input[type="text"],
input[type="url"],
textarea,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #407bf3;
    outline: none;
}

.button-group {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-primary, .btn-cancel, .btn-secondary {
    background-color: rgb(63, 90, 242);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: rgb(113, 133, 250);
}

.btn-cancel, .btn-secondary {
    background-color: #ccc;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #b0b0b0;
}